@include "./theme.css";

body {
  margin: 0;
  padding: 0;

}




.clickable{
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hidden; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:grey; 
    border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:grey; 
    border-radius:10px;
}
